* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: url('/Images/DefaultMouse.svg'), default;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 50px;

}

a,
p,
li,
span {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --black: #000000;
    --gray: #888C8D;
    --lightGray: #C0C0C0;
    --white: #ffffff;
    --grayBorder: #C0C0C0;
    --grayBg: #262626;
    --fontLato: 'Lato'
        --fontOpen: 'OpenSans'
}